{% extends "base.html" %}
{% block libs %}
    {{ super() }}
    <script>
    // handle <a srcfile></a> references to source files
    document.addEventListener("DOMContentLoaded", function (event) {
        $('a[srcfile]').each(function(i) {
            var srcref = $(this).attr('srcfile');
            var name = srcref.replace(/.*\//g, "");
            $(this).text(name);
            $(this).attr('href', '/showfile/?url='+srcref);
            $(this).attr('target', '_blank');
        });
    });
    // function th show a full size image when clicked ona thumbnail
    imageFullSizeZoom = function(img){
        img = $(img);
        let fullSizeSrc = img.attr('src').replace(/.thumb.jpg$/, '.png');

        $(document.body).append(
        '<div class="fullscreenimgshade" onclick="$(this).remove();">' +
            '<img src="' + fullSizeSrc + '" class="fullscreenimg"/>' +
        '</div>'
        );
    };
    </script>
{% endblock %}
