

pre .comment { color:#998 } 
pre .config { color:#0086B3 } 
pre .tag, pre .tag-name { color:navy } 
pre .keyword, pre .css-property, pre .vendor-fix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function { font-weight:bold } 
pre .css-property, pre .css-value,pre .vendor-fix, pre .support.namespace { color:#333 } 
pre .constant.numeric, pre .keyword.unit, pre .hex-color { font-weight:normal;color:#099 } 
pre .constant.symbol { color:#900; }
pre .entity.class { color:#458 } 
pre .entity.id, pre .entity.function { color:#900 } 
pre .attribute, pre .variable { color:teal } 
pre .string, pre .support.value { font-weight:normal;color:#24970c } 
pre .regexp { color:#009926 } 
