pre {
  padding: 0;
  font-family: 'Monaco', 'Source Code Pro', monospace;
  font-size: 1em;
}
.rainbow {
  border-spacing: 0;
  border-collapse: collapse;
}
.rainbow .line:hover {
  background-color: #fbfaef;
}
.rainbow .line:hover .line-number {
  background-color: #ebedec;
}
.rainbow .line .line-number {
  text-align: right;
  background-color: #eeeeee;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-family: courier new;
  font-weight: bold;
}
.rainbow .line .line-number:before {
  content: attr(data-line-number);
}
.rainbow .line .line-code {
  padding-left: 1em;
  width: 100%;
}
